body{
    background-color: white;
    font-family: 'Indie Flower', cursive;
}
#menu{
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    display: flex;
    color: black;
    font-weight: 700;
}
#menu span{
    margin-left: 2vw;
}

#przyciski{
    display: flex;
    margin-left: 15vw;
}  
#przyciski a{
    text-decoration: none;
    color: black;
}
.przycisk{
    margin-left: 5vw;
    border-radius: 10%;
    border: solid 3px transparent;
    background-image: linear-gradient(white, white), linear-gradient(black, black);
    background-origin: border-box;
    background-clip: content-box, border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 10vw;
}
.przycisk:hover{
    
    background-image: linear-gradient(white, white), linear-gradient(#1a75ff, #e600e6);
}
#socials{
    display: flex;
    margin-left: 14vw;
}
.social{
    margin-left: 0,1vw;
}
#socials a{
    text-decoration: none;
    color: black;
}
#content{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    height: 600px;
    margin-top: 2%;
}
.foto{
    text-align: center;
    justify-content: center;
    width: 100%;

}
.foto img{
    max-width: 300px;
    max-height: 300px;
}

#hobby{
    margin-left: 15%;
    margin-right: 15%;

}
.opis{
    text-align: center;
}
