body{
    background-color: white;
    font-family: 'Muli', sans-serif;
}
#menu{
    font-family: 'Muli', sans-serif;
    font-size: 30px;
    display: flex;
    color: black;
    font-weight: 700;
    width: 100%;
    background-color: black;
}

#przyciski{
    display: flex;
    margin-left: 15vw;
    padding-top: 20px;
}  
#przyciski a{
    text-decoration: none;
    color: white;
}
.przycisk{
    margin-left: 5vw;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 13vw;
    background-color: black;
    height: 5vh;
}

#socials{
    display: flex;
    margin-left: 14vw;
}
.social{
    margin-left: 0,1vw;
}
#socials a{
    text-decoration: none;
    color: black;
}
#content{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    height: 600px;
    margin-top: 2%;
}
.foto{
    text-align: center;
    justify-content: center;
    width: 100%;

}
.foto img{
    max-width: 300px;
    max-height: 300px;
}

.wszystko{
    margin-left: 15%;
    margin-right: 15%;

}
.opis{
    text-align: center;
}

.projekty{
    margin-top: 40px;
    margin-bottom: 100px;
}

.wyroznienie{
    color: blue;
    font-weight: 700;
}

#content a{
    text-decoration: none;
    color: white;

}
.git{
    background-color: black;
}