{% extends "main.html" %}
    {% block content %}
    <div id="hobby">
        <h1> Jazda motocyklem </h1>
        <p class="tekst">  
            Od 6 lat jestem zapaloną motocyklistką. Uwielbiam dalekie trasy, z pięknymi, górskimi widokami :)
        </p>
        <div class="foto-single">
            <img src="/static/2.jpg">
        </div>
        <h1> Podróże </h1>
        <p class="tekst">  
            Od jakiegoś czasu, poznaję również podróże innymi środkami transportu niż motocykl :)
        </p>
        <div class="foto-multi">
            <img src="/static/s.jpg">
            <img src="/static/s2.jpg">
        </div> 
        <h1> Malarstwo </h1>
        <p class="tekst">  
            Od zawsze byłam pasjonatką kredek, pędzli, ołówków, farb, sztalugi- aktualnie uwielbiam akryl :)
        </p>
        <div class="foto-multi">
            <img src="/static/9.jpeg">
            <img src="/static/01.jpg">
        </div>
        <h1> Gotowanie </h1>
        <p class="tekst">  
            Jestem fanatyczką dobrego jedzenia. Nie ma dla mnie znaczenia czy przepis dotyczy dania na słodko czy na słono - ważne aby było pysznie :)
        </p>
        <div class="foto-multi">
            <img src="/static/beza1.jpg">
            <img src="/static/h.jpg">
        </div>
        <h1> Nurkowanie </h1>
        <p class="tekst">  
            Zakochałam się również w podwodnym świecie :)
        </p>
        <div class="foto-single">
            <img src="/static/b.jpg">
        </div>
    </div>
    {% endblock %}