<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=d, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
</head>
<body>
    <div id="menu">
        <span>
            Marta <br> Kamińska
        </span>
        <div id="przyciski">
            <a href="http://127.0.0.1:5000/">
                <div class="przycisk">
                    O mnie
                </div>
            </a>
            <a href="http://127.0.0.1:5000/projekty">
                <div class="przycisk">
                    Projekty
                </div>
            </a>
            <a href="http://127.0.0.1:5000/hobby">
                <div class="przycisk">
                    Hobby
                </div>
            </a>
        </div>
        <div id="socials">
            <a href="https://www.linkedin.com/in/marta-kami%C5%84ska-5b85631a9/" target="_blank">
                <div class="social">
                    <img src="https://img.icons8.com/nolan/64/linkedin-circled.png"/>
                </div>
            </a>
            <a href="https://github.com/marta-kaminska/" target="_blank"> 
                <div class="social">   
                    <img src="https://img.icons8.com/nolan/64/github.png"/>
                </div>
            </a>
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>