{% extends "main.html" %}
    {% block content %}
    <div id="o-mnie">
        <div class="text">
            Hej, mam na imię Marta i uczę się programowania. Obecnie staram się rozwijać swoje umiejętności we <span class="stack">Front-Endzie</span> w oparciu o: <span class="tech">HTML</span>, <span class="tech">CSS</span> oraz <span class="tech">JavaScript</span>. Oprócz tego, jednocześnie staram się rozwijać umiejętności stricte programistyczne. Język, w którym programuję to <span class="tech">Python</span>, korzystam z niego do pisania <span class="stack">Back-Endu</span> w oparciu o framework <span class="framework">Flask</span> oraz do <span class="stack">Automatyzacji</span> i <span class="stack">Web-Scrapingu</span> z wykorzystaniem frameworka <span class="framework">Selenium</span>.
        </div>
        <img src="/static/foto.jpg">
    </div>
    {% endblock %}