{% extends "main.html" %}
    {% block content %}
    <div class="wszystko">
        <p class="projekty"> 
            Moim pierwszym projektem jest niniejsza strona www. Została ona napisana z wykorzystaniem <span class="wyroznienie">HTML</span> oraz <span class="wyroznienie">CSS</span>. <span class="wyroznienie">CSS</span> jest w czystej postaci bez wykorzystania żadnego frameworka. Backend strony napisany został w języku <span class="wyroznienie">Python</span>, z wykorzystaniem frameworka <span class="wyroznienie">Flask</span>.
            <a href="https://github.com/marta-kaminska/app" target="_blank">
                <div class="git"> OTWÓRZ W GITHUB ></div>
            </a>
        </p>
        
        <p class="projekty">
            Drugim projektem jest aplikacja do webscrapingu. Aplikacja pobiera dane o promocjach w wybranych sklepach internetowych popularnych sieci. Aplikacja została napisana w języku <span class="wyroznienie">Python</span>, z wykorzystaniem frameworka <span class="wyroznienie">Selenium</span>. 
            <a href="https://github.com/marta-kaminska/web-scrap" target="_blank">
                <div class="git"> OTWÓRZ W GITHUB ></div>
            </a>
        </p>
    </div>
    {% endblock %}